*{
  margin: 0px;
}

a{
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;    
 }
 
a:link {
  color: rgb(216, 226, 220);
  outline: none;
  font-size: 18px;
  }
  
a:visited {
    color: rgb(216, 226, 220);
  }

a:active {
  color: rgb(216, 226, 220);
  }
  
a:hover {
  text-decoration: underline;
  }

body{
  background-color: rgb(255, 254, 254);
}

  .bannerPortada{
    display: flex;
    background-color:#ece4db;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .carruselPortada{
    display: flex;
    background-color:#ece4db;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }
  

  .textoPortada{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #6b705c;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    font-size: 1.2rem;
    margin: 7%;
    
    h1{
      font-family: 'Yanone Kaffeesatz', sans-serif;
      }
  }


.destacados {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FAE1DD;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 2%;
  
  .colDestacadados{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }

  .textoDestacados{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    text-align: center;
    margin: 3% 0%;
    padding: 10%;

    h5{
      font-weight: bolder !important;
      font-size: 1.6rem;
    }

  }

  .coloresImagen{
  background-image: url(./imagenes/cuencos-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: -16px;
  background-position-x: 0px;
  background-size: cover;
  }


  .texturaImagen{
  background-image: url(./imagenes/texturas-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: 0px;
  background-position-x: -20px;
  background-size: cover;
  }

  .formaImagen{
  background-image: url(./imagenes/formas-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: 0px;
  background-position-x: 2px;
  background-size: cover;
  }

  h3{
    color: dimgray;
    font-weight: bolder;
    font-size: 18px;
  
  }
}

 

  .footer{
    display: flex;
    background-color:rgb(248, 237, 235);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex-direction: row; 
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    padding: 4% 5% 1% 6%;
    

    .detalleFooter{
      display: flex;
      margin: 5px 0px 10px 0px;
      flex-direction: column; 
      align-items: flex-start;
      justify-content: flex-start;
      align-content: center;
      padding: 2%;

      p{
        font-size: 1.2rem;
        letter-spacing: .5px;
      }

      h3{
        font-size: 1.3rem;
      }
    }
    
    .emailSuscripcion{
      width: 85%;
      height: 40px;
      background-color: white;
      color: rgba(128, 128, 128, 0.733);
      text-align: left;
      box-sizing: content-box;
      margin: 0px -2px;
      padding: 1px 6px;
      border-width: 1px;
      border-style: solid;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
     }
    
    .botonSuscripcion{
      width: 100px;
      height: 40px;
      background-color: rgba(128, 128, 128, 0.733);
      color: white;
      text-align: center;
      box-sizing: content-box;
      margin: 12px -2px;
      padding: 1px 6px;
      border-width: 1px;
      border-style: solid;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
      float: left;
      cursor: pointer;
     }

     .botonContacto{
      width: 100px;
      height: 40px;
      background-color: rgba(128, 128, 128, 0.733);
      color: white;
      text-align: center;
      box-sizing: content-box;
      padding: 1px 6px;
      border-width: 1px;
      border-style: solid;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
      float: left;
      cursor: pointer;

      a:hover {
        text-decoration: none;
        }

      a:link {
        color: white;
        }
        a:visited {
          color: white;
        }
      
      a:active {
        color: white;
        }
     }
    
    #botonEscribinos{
      color: rgba(128, 128, 128, 0.733);
      margin: -3px -5px;
      padding: 1px 6px;
      border-width: 1px;
      border-style: none;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bolder;
     }
    
    .textoFooter{
       margin: 15px 0px;
     }
    
     .logosFooter{
      width: 50px;
      height: 48px;
    
     }
  }
  

  /*Pagina Contactanos*/

.formulario {
  background-color:rgb(232, 232, 228);
  margin-bottom: 4%;
  padding: 3%;

  .formularioContacto {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;

  div{
    margin: 1%;
  }

  }

  legend{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: dimgray;
  }

  hr{
    width: 580px;
    height: 2px;
    margin-top: -18px;
    color: white;

  }
  
  
  label{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: normal;
    color: dimgray;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }
  
   input[type="text"],
   input[type="email"],
   input[type="tel"] {
    width: 95%;
    height: 40px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    display:inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px; 
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }

  textarea{
    width:95%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;	
  }

   input[type="submit"]{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    width: 50%;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.733);
    text-transform: uppercase;
  } 
  
   input[type="submit"]:hover{
    cursor:pointer;
    color: white;
  }
  
  input[type="checkbox" i] {
    display: inline-block;
    cursor: pointer;
    height: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
 
}

.videoContacto{
  padding: 2%;
  background-color: white;
  
  iframe{
    width: 100%;
    height: 50vh;
}

}



/*Pagina Productos*/

div{
  margin: 0;
  box-sizing: border-box;
}

nav {
  grid-area: nav;
}

.contenedorCategorias{
  background-color: #e8e8e4;
}

#tituloCategorias{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:x-large;
  color: #a5a58d;
  padding: .5%;
  margin: .5%;

}


#list-item {
  color: white !important;

a:hover {
  color:white;
  background-color: #D8E2DC;
  text-decoration: none !important;
  border: 1px solid transparent;
}
}



.categorias{
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 1px;
}

.contendorProductos{
  padding: 2%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  margin: 2%;

  
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 215px;
}

.bg-secondary {
  background-color: coral !important;
}

.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: 0.6em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(128, 128, 128, 0.733);
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 .btn:hover{
  color:white;
  background-color: #D8E2DC;
  text-decoration: none;
  border: 1px solid transparent;
 }

}

/*Página About Us*/

.fondoA{
  transform: rotate(180deg);
}

.contenedorFotoMajo{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1% 0% 3%;
}

.contenedorTextoMajo{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;


  h5{
    font-size: 45px;
    font-weight: bolder;
    color: #D8E2DC;
  }

  h6{
    font-size: 25px;
  }
}

#botonNosotros{
  background-color: #fec5bb;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.contenedorServicios{
  background-color: #E8E8E4;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 2%;

}
  .tituloServicios{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;

    h6{
      font-size: 2rem;
    }

  }

  .nuestrosServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }

  .nuestrosServicios1{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    
    .card{
      background-color: white;
      width: 100%;
      height: 11rem;
    }

    #card-body1{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-top: 3%;
      padding: 3%;

  }
}

  .tituloClientes{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #D8E2DC;

    h6{
      font-size: 2rem;
    }
  }

  .nuestrosClientes1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nuestrosClientes2{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 3%;
  }

  /*Página Inspiración*/

   .tituloInspiracion{
     font-family: 'Yanone Kaffeesatz', sans-serif;
     padding: 5%;

     h6{
       font-size: 35px;
       font-weight: normal;
       color: #D8E2DC;
     }
    }

  .contenedorInspiracion{
    height: auto;
    background-color: #f8edeb;
    margin: 3% 0;
  }  

  .inspiracion2{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    margin: 2%;
    padding-left: 10%;
    padding-right: 15%;

    h6{
      font-size: 1.5rem;
    }
  }

  .inspiracion3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .inspiracion4{
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 30px;
  background-color: #e8e8e4;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
