@charset "UTF-8";
* {
  margin: 0px;
}

a {
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

a:link {
  color: #d8e2dc;
  outline: none;
  font-size: 18px;
}

a:visited {
  color: #d8e2dc;
}

a:active {
  color: #d8e2dc;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fffefe;
}

.bannerPortada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ece4db;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.carruselPortada {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ece4db;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.textoPortada {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #6b705c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  font-size: 1.2rem;
  margin: 7%;
}

.textoPortada h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.destacados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAE1DD;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 2%;
}

.destacados .colDestacadados {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destacados .textoDestacados {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.3rem;
  text-align: center;
  margin: 3% 0%;
  padding: 10%;
}

.destacados .textoDestacados h5 {
  font-weight: bolder !important;
  font-size: 1.6rem;
}

.destacados .coloresImagen {
  background-image: url(./imagenes/cuencos-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: -16px;
  background-position-x: 0px;
  background-size: cover;
}

.destacados .texturaImagen {
  background-image: url(./imagenes/texturas-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: 0px;
  background-position-x: -20px;
  background-size: cover;
}

.destacados .formaImagen {
  background-image: url(./imagenes/formas-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: 0px;
  background-position-x: 2px;
  background-size: cover;
}

.destacados h3 {
  color: dimgray;
  font-weight: bolder;
  font-size: 18px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f8edeb;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 4% 5% 1% 6%;
}

.footer .detalleFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0px 10px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 2%;
}

.footer .detalleFooter p {
  font-size: 1.2rem;
  letter-spacing: .5px;
}

.footer .detalleFooter h3 {
  font-size: 1.3rem;
}

.footer .emailSuscripcion {
  width: 85%;
  height: 40px;
  background-color: white;
  color: rgba(128, 128, 128, 0.733);
  text-align: left;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0px -2px;
  padding: 1px 6px;
  border-width: 1px;
  border-style: solid;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
}

.footer .botonSuscripcion {
  width: 100px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.733);
  color: white;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 12px -2px;
  padding: 1px 6px;
  border-width: 1px;
  border-style: solid;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  float: left;
  cursor: pointer;
}

.footer .botonContacto {
  width: 100px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.733);
  color: white;
  text-align: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1px 6px;
  border-width: 1px;
  border-style: solid;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  float: left;
  cursor: pointer;
}

.footer .botonContacto a:hover {
  text-decoration: none;
}

.footer .botonContacto a:link {
  color: white;
}

.footer .botonContacto a:visited {
  color: white;
}

.footer .botonContacto a:active {
  color: white;
}

.footer #botonEscribinos {
  color: rgba(128, 128, 128, 0.733);
  margin: -3px -5px;
  padding: 1px 6px;
  border-width: 1px;
  border-style: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
}

.footer .textoFooter {
  margin: 15px 0px;
}

.footer .logosFooter {
  width: 50px;
  height: 48px;
}

/*Pagina Contactanos*/
.formulario {
  background-color: #e8e8e4;
  margin-bottom: 4%;
  padding: 3%;
}

.formulario .formularioContacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.formulario .formularioContacto div {
  margin: 1%;
}

.formulario legend {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
  font-weight: normal;
  color: dimgray;
}

.formulario hr {
  width: 580px;
  height: 2px;
  margin-top: -18px;
  color: white;
}

.formulario label {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: normal;
  color: dimgray;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"] {
  width: 95%;
  height: 40px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  display: inline-block;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 16px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.formulario textarea {
  width: 95%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
}

.formulario input[type="submit"] {
  border-width: 2px;
  border-style: solid;
  border-color: #cfcfcf;
  text-align: center;
  color: white;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  font-weight: normal;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  width: 50%;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.733);
  text-transform: uppercase;
}

.formulario input[type="submit"]:hover {
  cursor: pointer;
  color: white;
}

.formulario input[type="checkbox" i] {
  display: inline-block;
  cursor: pointer;
  height: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.videoContacto {
  padding: 2%;
  background-color: white;
}

.videoContacto iframe {
  width: 100%;
  height: 50vh;
}

/*Pagina Productos*/
div {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  grid-area: nav;
}

.contenedorCategorias {
  background-color: #e8e8e4;
}

#tituloCategorias {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: x-large;
  color: #a5a58d;
  padding: .5%;
  margin: .5%;
}

#list-item {
  color: white !important;
}

#list-item a:hover {
  color: white;
  background-color: #D8E2DC;
  text-decoration: none !important;
  border: 1px solid transparent;
}

.categorias {
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 1px;
}

.contendorProductos {
  padding: 2%;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin: 2%;
}

.card .card-img, .card .card-img-bottom, .card .card-img-top {
  width: 100%;
  height: 215px;
}

.card .bg-secondary {
  background-color: coral !important;
}

.card .badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: 0.6em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.card .btn {
  display: inline-block;
  font-weight: 400;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  background-color: rgba(128, 128, 128, 0.733);
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.card .btn:hover {
  color: white;
  background-color: #D8E2DC;
  text-decoration: none;
  border: 1px solid transparent;
}

/*Página About Us*/
.fondoA {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contenedorFotoMajo {
  margin: -6% 0% 2% 0%;
}

.fotoMajo {
  margin: 0% 5% 0px;
}

.contenedorTextoMajo {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.contenedorTextoMajo h5 {
  font-size: 45px;
  font-weight: bolder;
  color: #D8E2DC;
}

.contenedorTextoMajo h6 {
  font-size: 25px;
}

.contenedorServicios {
  background-color: #E8E8E4;
  margin-top: 5%;
  margin-bottom: 4%;
  padding: 2%;
}

.tituloServicios {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
}

.tituloServicios h6 {
  font-size: 2rem;
}

.nuestrosServicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nuestrosServicios1 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.nuestrosServicios1 .card {
  height: 11rem;
  background-color: white;
}

.tituloClientes {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #D8E2DC;
}

.tituloClientes h6 {
  font-size: 2rem;
}

.nuestrosClientes1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nuestrosClientes2 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 3%;
}

/*Página Inspiración*/
.tituloInspiracion {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 5%;
}

.tituloInspiracion h6 {
  font-size: 35px;
  font-weight: normal;
  color: #D8E2DC;
}

.contenedorInspiracion {
  height: 20vh;
  background-color: #f8edeb;
  margin: 3% 0;
}

.inspiracion2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  margin: 2%;
  padding-left: 10%;
  padding-right: 15%;
}

.inspiracion2 h6 {
  font-size: 1.5rem;
}

.inspiracion3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inspiracion4 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 30px;
  background-color: #e8e8e4;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=main.css.map */