*{
  margin: 0px;
}


body{
  background-color: rgb(255, 254, 254);
}

.etniaWabi{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(232, 232, 228);
  height: 330px;
  width: 1280px;
  border-width: 1px;
  margin-top: 30px;
  margin-bottom: 10px;

  .textoPortada{
    display: flex;  
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 20px;
    color: white;
    height: 210px;
    width: 843px;
    margin-left: 14px;
    margin-right: 14px;
    }
    
    .containerSlider{
    margin: 10px;
    background-color: rgb(236, 228, 219);
    width: 870px;
    padding: 30px;
    height: 380px;
    border-radius: 10px 0px 0px 100px;
    box-shadow: 2px 2px 2px 1px rgba(250, 225, 221, 0.2);
    }
    
    ul, li {
      list-style: none;
    }
    
    ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
    border-radius: 10px 0px 0px 100px;
    }
    
    ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
      border-radius: 10px 0px 0px 100px;
    }
    
    ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 0px 0px 100px;
    }
    
    ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
    }
    
    ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
    }
    
    .menu{
    text-align: center;
    margin: 13px;
    }
    
    .menu li{
    display: inline-block;
    text-align: center;
    }
    
    .menu li a{
    display: inline-block;
    text-decoration: none;
    background-color: grey;
    border-radius: 100px;
    height: 4px;
    width: 75px;
    }
}

.imagenportada{
display: flex; 
background-image: url(../imagenes/imagen-portada.png);
height: 235px;
width: 500px;
background-repeat: no-repeat;
border-radius: 100px 0px 0px 100px;
position: relative;
border-color: 1px solid;
background-position-y: 1px;
background-position-x: -388px;
background-size: cover;
height: 423px;
width: 1503px;
box-shadow: 6px 3px 44px 5px rgb(199, 186, 140 / 87%);
}


h2{
  font-size: 36px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  margin-top: 148px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
  font-weight: 29px;
  margin-left: 44px;
  position: absolute;
  
}

.olaDestacados{
  width: 1280px;
  position: inherit;

}

#shopNow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 0px;
  margin-right: 30px;
  margin-top: -43px;
  width: 1280px;
  height: 515px;
  background-color: #FAE1DD;
  
#circulosPortada{
  background-color:white;
  height: 220px;
  width: 220px;
  border-radius: 125px;
  margin-top: 18px;
  }
  
  #circulosPortada h5{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  font-size: 28px;
  margin-top: 18px;
  }

  #circulosPortada p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 1px;
    text-align: center;
    font-size: 16px;
    margin-top: 18px;
    }

    #circulosPortada button{
      margin-left: 50px;
    }

  .coloresImagen{
  background-image: url(./imagenes/cuencos-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: -16px;
  background-position-x: 0px;
  background-size: cover;
  transition: height 2s;
  
  }
  
  .coloresImagen:hover{
  background: rgba(210, 203, 177, 0.233);
  background-image: url(./imagenes/cuencos-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: -16px;
  background-position-x: 0px;
  transition: height 2s;
   }
  
  
  .texturaImagen{
  background-image: url(./imagenes/texturas-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: 0px;
  background-position-x: -45px;
  background-size: cover;
  }
  
  .texturaImagen:hover{
    background: rgba(210, 203, 177, 0.233);
    background-image: url(./imagenes/texturas-1.png);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    border-radius: 125px;
    background-position-y: -37px;
    background-position-x: -159px;
    transition: height 2s;
     }
    

  .formaImagen{
  background-image: url(./imagenes/formas-1.png);
  height: 220px;
  width: 220px;
  background-repeat: no-repeat;
  border-radius: 125px;
  background-position-y: 0px;
  background-position-x: 2px;
  background-size: cover;
  }

  .formaImagen:hover{
    background: rgba(210, 203, 177, 0.233);
    background-image: url(./imagenes/formas-1.png);
    height: 220px;
    width: 220px;
    background-repeat: no-repeat;
    border-radius: 125px;
    background-position-y: 0px;
    background-position-x: -156px;
    transition: height 2s;
     }
  
  h3{
    color: dimgray;
    font-weight: bolder;
    font-size: 18px;
  
  }
}


.menudeInicio{
    border-radius: 10px;
    height: 90px;
    width: 1200px;
    border-width: 1px;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 14px;

    #logo {
        position: absolute;
        height: 50px;
        width: 50px;
        background-image: url(./imagenes/logo.PNG);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 25px;
        margin-left: -1135px;
        margin-top: -25PX;
    
    }

    h1{
        color: rgb(216, 226, 220);
        font-weight: normal;
        font-size: 18px;
        font-family: 'Yanone Kaffeesatz', sans-serif;   
        margin-left: 57px;
        margin-top: 15px;
      }
}

nav ul{
    display: flex;
    list-style: none;
    font-size:0;
    li{
      margin-right: 15px;
    }

      a{
        text-decoration: none;
        font-family: 'Yanone Kaffeesatz', sans-serif;    
       }
       
      a:link {
        color: rgb(216, 226, 220);
        outline: none;
        font-size: 18px;
        }
        
      a:visited {
          color: rgb(216, 226, 220);
        }
      
      a:active {
        color: rgb(216, 226, 220);
        }
        
      a:hover {
        text-decoration: underline;
        }
  }
  
  .footer{
    display: flex;
    background-color:rgb(248, 237, 235);
    height: 300px;
    width: 1280px;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex-direction: row; 
    justify-content: space-around;

    .detalleFooter{
      width: 350px;
      margin: 0 10px;
      height: 100px;
      margin-top: 30px;
    }
    
    .emailSuscripcion{
      width: 300px;
      height: 40px;
      background-color: white;
      color: rgba(128, 128, 128, 0.733);
      text-align: left;
      box-sizing: content-box;
      margin: 0px -2px;
      padding: 1px 6px;
      border-width: 1px;
      border-style: solid;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
     }
    
    .botonSuscripcion{
      width: 100px;
      height: 40px;
      background-color: rgba(128, 128, 128, 0.733);
      color: white;
      text-align: center;
      box-sizing: content-box;
      margin: 12px -2px;
      padding: 1px 6px;
      border-width: 1px;
      border-style: solid;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
      float: left;
      cursor: pointer;
     }
    
    
     
    #botonEscribinos{
      color: rgba(128, 128, 128, 0.733);
      margin: -3px -5px;
      padding: 1px 6px;
      border-width: 1px;
      border-style: none;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-size: 18px;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: bolder;
     }
    
    .textoFooter{
       margin: 15px 0px;
     }
    
     .logosFooter{
      width: 50px;
      height: 48px;
    
     }
  }
  

  /*Pagina Contactanos*/

.formulario {
  width: 1280px;
  height: 690px;
  background-color:rgb(232, 232, 228);

  .formularioContacto {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  
  }

  legend{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    font-weight: normal;
    color: dimgray;
    margin-left: 78px;
  }

  hr{
    margin-left: 78px;
    width: 580px;
    height: 2px;
    margin-top: -18px;
    color: white;

  }
  
  
  label{
    width: 300px;
    font-weight: bold;
    font-size: 20px;
    padding: 7px -3px;
    margin: 0px 77px;
    letter-spacing: 0px;
    font-weight: normal;
    color: dimgray;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }
  
   input[type="text"],
   input[type="email"],
   input[type="tel"] {
    width: 95%;
    height: 40px;
    padding: 7px -3px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin: 0px 77px;
    display:inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 16px; 
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: baseline;
  }

  textarea{
    width:95%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;	
    margin: 0px 77px;
    padding: 7px -3px;
  }

   input[type="submit"]{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin-left: 78px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 6px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.733);
    text-transform: uppercase;
  } 
  
   input[type="submit"]:hover{
    cursor:pointer;
    color: white;
  }
  
  input[type="checkbox" i] {
    display: inline-block;
    cursor: pointer;
    margin-left: -169px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
 
}


/*Pagina Productos*/

div{
  margin: 0;
  box-sizing: border-box;
}

nav {
  grid-area: nav;
}

#grilla {
  display: grid;
  grid-template-areas:
  "nav productos1  productos2 productos3"
  "nav productos4  productos5 productos6";
  grid-template-rows: 1fr 1fr; 
  grid-template-columns: 200px 330px 330px 330px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  height: 800px;
  margin-left: 14px;	
  margin-right: 14px;
  margin-bottom: 70px;
}

.border {
  background-color: #FAE1DD;
  height: 840px;
  border-radius: 5px;
}

.tituloCategorias{
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    margin: 50px;
    color: white;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 1px;
}

.list-group {
  display: flex;
  border-radius: .25rem;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: white !important;

  .list-group-item-action:hover {
    color:white;
    background-color: #D8E2DC;
    text-decoration: none;
    border: 1px solid transparent;
  }

  .listaCategorias{
    color:white;
  }

  .listaCategorias1{
    margin-right: 1px;
  }
}


.categorias{
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 100px;
  letter-spacing: 1px;

}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  height: 410px;

  
.card-img, .card-img-bottom, .card-img-top {
  width: 100%;
  height: 215px;
}

.bg-secondary {
  background-color: coral !important;
}

.badge {
  display: inline-block;
  padding: .35em .65em;
  font-size: 0.6em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: rgba(128, 128, 128, 0.733);
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

 .btn:hover{
  color:white;
  background-color: #D8E2DC;
  text-decoration: none;
  border: 1px solid transparent;
 }

}

/*P치gina About Us*/

.fondoA{
  transform: rotate(180deg);
}


.presentacion2{
  background-image: url(./imagenes/aboutUs2.jpg);
  height: 420px;
  background-repeat: no-repeat;
  background-position-y: -61px;
  background-position-x: 55px;
  margin-top: -60px;
  position: relative;


  }

  .presentacion3{
    margin-top: 21px;
    margin-left: 487px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: #D8E2DC;
  }

  .presentacion4{
    margin-top: 80px;
    margin-left: 487px;
    margin-right: 50px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
  }

  .presentacion5{
      margin-top: 80px;
      margin-left: 487px;
      margin-right: 40px;
      font-family: 'Yanone Kaffeesatz', sans-serif;

  }

  .tituloServicios{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    position: absolute;
    margin-left: 550px;
    color: white;
    margin-top: 20px;
  }
  .nuestrosServicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: #E8E8E4;
    
  }


  .nuestrosServicios1{
    margin: 22px 90px -80px;
    height: 200px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

  .tituloClientes{
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
    position: absolute;
    margin-left: 550px;
    color: white;
    margin-top: 120px;
    color: #D8E2DC;
  }

  .nuestrosClientes1{
    height: 200px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }


  .nuestrosClientes2{
    margin: 22px 90px -80px;
    height: 100px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }

  /*P치gina Inspiraci칩n*/

  .carruselInspiraci칩n{
    height: 300px;
    width: 500px;
    }

   .inspiracion1{
    background-repeat: no-repeat;
    background-position-y: -61px;
    background-position-x: 55px;
    background-size: cover;

   }

   .tituloInspiracion{
     position: absolute;
     margin-top: -220px;
     margin-left: 550px;
     margin-right: 40px;
     font-family: 'Yanone Kaffeesatz', sans-serif;

     h6{
       font-size: 35px;
       font-weight: normal;
       color: #D8E2DC;
     }
    }

  .inspiracion2{
    position: absolute;
    margin-top: -346px;
    margin-left: 289px;
    margin-right: 248px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;

    h6{
      font-size: 35px;
    }
  }
  .inspiracion3{
    height: 200px;
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .inspiracion4{
  margin: 23px 81px 480px 33px;
  height: 250px;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  border-color: dimgray;
  border-width: 1px;
  border-style: solid;
  padding: 30px;
}

.inspiracion5{
  margin-top: -200px;
}