*{
    margin: 0px;
  }
  
  .menudeInicio{
      border-radius: 10px;
      height: 90px;
      width: 1200px;
      border-width: 1px;
      letter-spacing: 2px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 14px;
  }
  
  #logo {
      position: absolute;
      height: 50px;
      width: 50px;
      background-image: url(./imagenes/logo.PNG);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 25px;
      margin-left: -1135px;
      margin-top: -25PX;
  
  }
  
  h1{
    color: white;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Yanone Kaffeesatz', sans-serif;   
    margin-left: 57px;
    margin-top: 15px;
  }
  
  nav ul{
    display: flex;
    list-style: none;
    font-size:0;
  }
  
  nav ul li{
    margin: 0px 1rem;
  }
  
  a{
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;    
   }
   
  a:link {
    color: white;
    outline: none;
    font-size: 18px;
    }
    
  a:visited {
      color: white;
    }
  
  a:active {
    color: white;
    }
    
  a:hover {
    text-decoration: underline;
    }
  
  h4{
      margin-left: -72%;
    }
  
  body{
      background: rgb(210,203,177);
      background: radial-gradient(circle, rgba(210,203,177,1) 0%, rgba(212,204,189,1) 100%);
    }
  
  .etniaWabi{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      background-color:rgb(221, 215, 195);
      height: 330px;
      width: 1280px;
      border-width: 1px;
      margin-top: 30px;
      box-shadow: 6px 3px 44px 5px rgb(199 186 140 / 87%);
    }
  
  .textoPortada{
    display: flex;  
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 20px;
    color: white;
    height: 210px;
    width: 843px;
    margin-left: 14px;
    margin-right: 14px;
    }
  
    
  
  .containerSlider{
    margin: 10px;
    background-color: rgb(238, 235, 227);
    width: 870px;
    padding: 30px;
    height: 380px;
    box-shadow: 6px 3px 44px 5px rgb(199 186 140 / 87%);
    border-radius: 10px 0px 0px 100px;
    
  }
  
  ul, li {
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
    border-radius: 10px 0px 0px 100px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
      border-radius: 10px 0px 0px 100px;
  }
  
  ul.slider li img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 0px 0px 100px;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 13px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    text-decoration: none;
    background-color: grey;
    border-radius: 100px;
    height: 4px;
    width: 75px;
  }
  
  .imagenportada{
    display: flex; 
    background-image: url(../imagenes/imagen-portada.png);
    height: 235px;
    width: 500px;
    background-repeat: no-repeat;
    border-radius: 100px 0px 0px 100px;
    position: relative;
    border-color: 1px solid;
    background-position-y: 1px;
    background-position-x: -388px;
    background-size: cover;
    height: 423px;
    width: 1503px;
    box-shadow: 6px 3px 44px 5px rgb(199 186 140 / 87%);
  }
  
  #shopNow {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 150px;
      margin-right: 30px;
      margin-top: 140px;
      width: 1280px;
      height: 200px;
      background-color:rgba(221, 215, 195, 0.39);
      border-width: 1px;
   }
  
   #circulosPortada{
    background-color:white;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    box-shadow: 6px 3px 44px 5px rgb(199 186 140 / 87%);
   }
  
  .coloresImagen{
    background-image: url(./imagenes/cuencos-1.png);
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    border-radius: 125px;
    background-position-y: -16px;
    background-position-x: 0px;
    background-size: cover;
    transition: height 2s;
   }
  
  #textoPortada{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-left: 78px;
    margin-top: -140px;
    position: absolute;
   }
  
  #textoPortada:link{
    color: rgb(210,203,177);
    text-decoration: none;
   }
  
  #textoPortada:hover{
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;
    background: rgba(210, 203, 177, 0.664);
    height: 55px;
    width: 236px;
    margin-left: 8px;
    margin-top: -145px;
    text-align: center;
   }
  
   #textoPortada:active{
    color: white;
    text-decoration: none;
   }
  
   #textoPortada:visited{
    color: white;
    text-decoration: none;
   }
  
   .texturaImagen{
    background-image: url(./imagenes/texturas-1.png);
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    border-radius: 125px;
    background-position-y: 0px;
    background-position-x: -10px;
    background-size: cover;
   }
  
   .formaImagen{
    background-image: url(./imagenes/formas-1.png);
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    border-radius: 125px;
    background-position-y: 0px;
    background-position-x: 2px;
    background-size: cover;
   }
  
  h3{
      color: dimgray;
      font-weight: bolder;
      font-size: 18px;
  }
  
  .footer{
    display: flex;
    background-color:rgb(221, 215, 195);
    height: 300px;
    width: 1300px;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    flex-direction: row; 
    justify-content: space-around;
  }
  
  .detalleFooter{
    width: 350px;
    margin: 0 10px;
    height: 100px;
    margin-top: 30px;
  }
  
  .emailSuscripcion{
    width: 300px;
    height: 40px;
    background-color: white;
    color: rgba(128, 128, 128, 0.733);
    text-align: left;
    box-sizing: content-box;
    margin: 0px -2px;
    padding: 1px 6px;
    border-width: 1px;
    border-style: solid;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
   }
  
  .botonSuscripcion{
    width: 100px;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.733);
    color: white;
    text-align: center;
    box-sizing: content-box;
    margin: 12px -2px;
    padding: 1px 6px;
    border-width: 1px;
    border-style: solid;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    float: left;
    cursor: pointer;
   }
  
  
   
  #botonEscribinos{
    color: rgba(128, 128, 128, 0.733);
    margin: -3px -5px;
    padding: 1px 6px;
    border-width: 1px;
    border-style: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 18px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bolder;
   }
  
  .textoFooter{
     margin: 15px 0px;
   }
  
   .logosFooter{
    width: 50px;
    height: 48px;
  
   }
  
  /*Pagina Contactanos*/
  
  form{
    width: 600px;
    height: 600px;
    padding:25px;
    margin:10px 296px 60px;
    background-color:rgb(221, 215, 195);
    border-radius: 28px;
    color: rgb(172, 169, 169);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    letter-spacing: 5px;
    box-shadow: 6px 3px 44px 5px rgb(199 186 140 / 87%);
  }
  
  form label{
    width:100px;
    font-weight:bold;
    display:inline-blocbk;
    font-size: 20px;
    padding:3px 10px;
    margin: 10px 0;
    letter-spacing: 0px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="tel"] {
      width: 95%;
    height: 25px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin: 10px 0;
    display:inline-block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 12px; 
  }
  
  form input[type="submit"]{
    border-width: 2px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    text-align: center;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin: 26px 188px;
    cursor: pointer;
    font-weight: normal;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 6px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.733);
    text-transform: uppercase;
  } 
  
  form input[type="submit"]:hover{
    cursor:pointer;
    color: white;
  }
  
  input[type="checkbox" i] {
    display: inline-block;
    cursor: pointer;
    margin: 3px 3px 3px 4px;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;	
  }
  
  /*Pagina Productos*/
  
  div{
    margin: 0;
    box-sizing: border-box;
  }
  
  nav {
    grid-area: nav;
  }
  
  #grilla {
    display: grid;
    grid-template-areas:
    "nav productos1  productos2 productos3"
    "nav productos4  productos5 productos6";
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 800px;
    margin-left: 14px;	
    margin-right: 14px;
    margin-bottom: 70px;
  }
  
  .border {
    background-color: rgba(128, 128, 128, 0.733);
    height: 840px;
    border-radius: 5px;
  }
  
  .tituloCategorias{
      font-weight: bold;
      font-family: 'Yanone Kaffeesatz', sans-serif;
      text-align: center;
      margin: 50px;
      color: white;
      text-transform: uppercase;
      font-size: x-large;
      letter-spacing: 1px;
  }
  
  .list-group {
    display: flex;
    border-radius: .25rem;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
  }
  
  .list-group-item-action:hover {
    color:white;
    background-color: coral;
    text-decoration: none;
    border: 1px solid transparent;
  }
  
  .categorias{
    font-weight: bold;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 100px;
    letter-spacing: 1px;
  
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    height: 410px;
  }
  
  .card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 215px;
  }
  
  .bg-secondary {
    background-color: coral !important;
  }
  
  .badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: 0.6em;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
  }
  
  .btn {
    display: inline-block;
    font-weight: 400;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: rgba(128, 128, 128, 0.733);
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
   .btn:hover{
    color:white;
    background-color: coral;
    text-decoration: none;
    border: 1px solid transparent;
   }
  
  
  
  